body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

html{
    scroll-behavior: smooth;
}


.banner{
    width: 100%;
    padding: 9rem 3rem;
    text-align: center;
    background: url("../imagenes/trabajadores.jpg");
    background-color: rgb(161, 150, 150);
    background-blend-mode: soft-light;
    block-size: cover;
    background-position:  center;
    box-sizing: border-box;
}

.banner h1 {
    color: rgb(0, 0, 0);
    font-size: 400%;
    font-weight: bold;
}

.container{
    width: 100%;
    height: 140px;
    background: rgb(24, 163, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px ;
    box-sizing: border-box;
    /* position: sticky;
    top: 0; */
}


.item-options {
    color: #000;
    margin: 0 1.5rem;
    text-decoration: none;
}

.logo{
    width: 140px;
    
}

.logo img{
    width: 100%;

}



.hover{
    margin-right: 5%;
    padding: 7px;
    
}

.hover a{
    border-right: 2px inset rgb(60, 179, 222);
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    padding: 7px;
    border-radius: 3px;
    

    
}

.hover a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}








/* imagen con animacion */

.slider-frame{
    width: 25%;
    height: 35%;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 10%;
    
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 20s infinite alternate;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    15%{margin-left: 0%;}

    16%{margin-left: -100%;}
    35%{margin-left: -100%;}
    
    36%{margin-left: -200%;}
    45%{margin-left: -200%;}

    46%{margin-left: -300%;}
    65%{margin-left: -300%;}

    66%{margin-left: -400%;}
    85%{margin-left: -400%;}

    86%{margin-left: -500%;}
    100%{margin-left: -500%;}


}


.main-container {
    width: 34%;
    margin-left: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -48%;

}

.descripcion{
    margin-left: 25%;
    width: 85%;
    text-align: center;
}

.parrafo1{
    margin-left: 1.3%;
    width: 140%;
}





.article{
    width: 70%;
}



.contenedor-video{
    margin-top:20%;  
    text-align: center;
    width: 100%;

}

.video{
    width: 80%;
    
}




.subtitulo1{

    font-size: 30px;
}

.listaGeneral{
    display: flex;
}



.pie-de-pagina{
    
    display: flex;

}

.listaDeIntegrantes{
    margin-top: 2%;
    width: 80%;
    height: 100%;
    text-align: center;
    
}

footer{
    background: rgb(24, 163, 232);
}


.integrantes{
    
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}

.descarga{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 2%;
}

.texto{
color: white;
text-align: center;
font-weight: bold;
}


.imagen-integrante{
    width: 50%;
    margin-top: 5%;
    height: 300px;
    display: flex;
    border-radius: 150%;
    margin-left: 80px;
}




.imagen-integrante:hover{
    box-shadow: 3px 3px 30px white;
} 

.workbot{
    text-align: center;
    margin-top: 1%;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}
